<?xml version="1.0"?>
<!--
    注意: 除了手动编辑此文件以外， 
    还可以使用 Web 管理工具来配置应用程序的设置。
    可以使用 Visual Studio 中的“网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="NewDownLoad" value="NewLoad"/>
    <add key="NewUpLoad" value="NewLoad"/>
  </appSettings>
  <connectionStrings>
    <add name="RayTest" connectionString="Data Source=localhost;Initial Catalog=AndroidEMR;Persist Security Info=True;User ID=sa;Password=123"/>
    <add name="ASPStateConnectionString" connectionString="Data Source=localhost;Initial Catalog=ASPState;Persist Security Info=True;User ID=SessionStateUser;Password=12345678"/>
    <add name="SysDataBaseConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\SysDataBase.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.web>
    <!--
            设置 compilation debug="true" ，将调试符号 
            插入已编译的页面中。但由于这会影响性能， 
           因此请只在开发过程中 
            将此值设置为 true。
        -->
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <!--
            通过 <authentication> 节可以配置
            ASP.NET 使用的安全身份验证 
            模式，以标识传入的用户。 
        -->
    <authentication mode="Windows"/>
    <!--
            通过 <customErrors> 节可以配置在执行请求过程中出现未处理错误时， 
           应执行的操作。 
            具体说来，开发人员通过该节 
            可以配置要显示的 html 错误页 
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/> 
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <!--
        在 Internet 信息服务 7.0 下，运行 ASP.NET AJAX 要求 
      system.webServer 节。这在以前版本的 IIS 中并非必需。
    -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HttpWcfBinding" messageEncoding="Text" transferMode="Streamed" maxReceivedMessageSize="2048000" maxBufferPoolSize="1048576" maxBufferSize="2048000">
          <readerQuotas maxStringContentLength="6553600" maxArrayLength="20971520"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="WcfNoneBehavior" name="WcfService.SimpDbServer">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpWcfBinding" contract="WcfService.ISimpDbServer"/>
        <endpoint address="json" binding="webHttpBinding" behaviorConfiguration="HttpWcfBinding" contract="WcfService.ISimpDbServer"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="WcfNoneBehavior" name="WcfService.FileServer">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpWcfBinding" contract="WcfService.IFileServer"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <timeouts closeTimeout="00:01:00"/>
        </host>
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding name="JsonMapper"/>
      </customBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="WcfNoneBehavior">
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点-->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None"/>
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
