<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="NewDownLoad" value="NewLoad"/>
    <add key="NewUpLoad" value="NewLoad"/>
  </appSettings>
  <system.serviceModel>
    <services>
      
      <service name="WcfService.SimpDbServer" behaviorConfiguration="WcfNoneBehavior">
        <!-- TCP Bind 设置-->
        <endpoint address="net.tcp://localhost:44320/Binding/SimpDbServer" binding="netTcpBinding" contract="WcfService.ISimpDbServer" bindingConfiguration="TCPWcfBinding" />
        <!-- HTTP Bind 设置-->
        <endpoint address="" binding="basicHttpBinding"  bindingConfiguration="HttpWcfBinding" contract="WcfService.ISimpDbServer" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:13124/SimpDbServer"/>
          </baseAddresses>
        </host>
      </service>
      
      <service name="WcfService.JsonDbServer" behaviorConfiguration="WcfJsonBehavior">
         <endpoint address="" binding="webHttpBinding" bindingConfiguration="WcfJsonBinding"  contract="WcfService.IJsonDbServer" behaviorConfiguration="WcfJsonEndpointBehavior"/> 
         <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:13125/JsonDbServer"/>
          </baseAddresses>
        </host>
      </service>
      
      <service name="WcfService.FileServer" behaviorConfiguration="WcfNoneBehavior">
        <!-- TCP Bind 设置-->
        <endpoint binding="netTcpBinding" contract="WcfService.IFileServer" bindingConfiguration="TCPWcfBinding"
                  address="net.tcp://localhost:44323/Binding/FileServer"/>
        <!-- HTTP Bind 设置-->
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpWcfBinding" contract="WcfService.IFileServer"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:13124/FileServer"/>
          </baseAddresses>
        </host>
      </service>

      <service name="BaseDataCacheServer.BaseDataServer" behaviorConfiguration="WcfNoneBehavior">
        <endpoint binding="netTcpBinding" contract="BaseDataCacheServer.IBaseDataServer" bindingConfiguration="TCPWcfBinding"
                  address="net.tcp://localhost:44325/Binding/BaseDataCacheServer"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:13124/BaseDataCacheServer"/>
          </baseAddresses>
        </host>
      </service>

    </services>
    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="false"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="false"
           maxMessagesToLog="3000"
           maxSizeOfMessageToLog="2000"/>
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfNoneBehavior">  
          <serviceThrottling
            maxConcurrentSessions="25"/>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点-->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None"/>
            </clientCertificate> 
          </serviceCredentials>
          
        </behavior>
        
         <behavior name="WcfJsonBehavior"> 
          <serviceMetadata httpGetEnabled="true"/> 
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000"/>   
        </behavior>

      </serviceBehaviors>
      
      <endpointBehaviors>  
        <behavior name="WcfJsonEndpointBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="TCPWcfBinding"  maxReceivedMessageSize="2048000" maxBufferPoolSize="1048576" maxBufferSize="2048000">
          <readerQuotas maxStringContentLength="6553600" maxArrayLength="20971520"/>
          <security mode="None">
            <transport protectionLevel="None"/>
          </security>
        </binding>
      </netTcpBinding>

      <basicHttpBinding>
        <binding name="HttpWcfBinding" messageEncoding="Text" transferMode="Streamed" maxReceivedMessageSize="2048000" maxBufferPoolSize="1048576" maxBufferSize="2048000">
          <readerQuotas maxStringContentLength="6553600" maxArrayLength="20971520"/> 
        </binding>
      </basicHttpBinding>

      <webHttpBinding>
        <binding name="WcfJsonBinding" crossDomainScriptAccessEnabled="true" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647"/> 
         <security mode="None"></security>
        </binding> 
      </webHttpBinding>
    </bindings>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages"
          type="System.Diagnostics.XmlWriterTraceListener"
          initializeData="messages.txt" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <connectionStrings>
    <!--<add name="FengShenDB" connectionString="Data Source=localhost;Initial Catalog=FengShenDB;Persist Security Info=True;User ID=sa;Password=123"/>-->
    <add name="FengShenDB" connectionString="MRzWjW0DLvPpc/g8G9gzvqQXvaDgzn+qzTYEDI9hPze+R2WvW+mkg7yDA9cbq7ukCwDUl0IUuMq/dqyIenEDtusuwI+/24YvAC2D6HeCFtVxYKNRzBXwsOiWMH+9qeawstLAaRo7Nnk="/>
    <add name="SysDataBaseConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\SysDataBase.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
